* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7DB9B6;
  border-radius: 10px;
  margin-bottom: 5% !important;
  margin-top: 5% !important;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #D61355;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: flex;
  align-items: center;
}


.header__logo img {
  width: 50px;
  margin-right: 10px;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin: 0 10px;
}

.header__nav a {
  text-decoration: none;
  color: #333;
}

.header__nav a:hover {
  text-decoration: underline;
}


/* important */
img {
  height: 50% !important;
  width: 50% !important;
  object-fit: cover;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

small {
  color: red;
}


@media (width < 768px) {
  .log-out-btn {
    margin-left: 200px !important;
  }
}